*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(43, 14, 88);
}

#raca{
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    border: none;
}



#pesquisar {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
  
}

#pesquisar:hover{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(12, 10, 1);
    
}

#galeria img {
    width: 450px;
    height: 450px;
    border: 5px solid rgb(8, 7, 1);
    border-radius: 20px;
    
}


#galeria {
    margin-top: 15px;
    display: columns;
    columns: 4;
}